<div class="form-group table-forms">
  <label for="set-input">Enter Set:</label>
  <input id="set-input" class="set-input form-control" type="text" style="width:200px !important"
         [formControl]="searchForm" (keyup.enter)="submitSet()"/>
  <ng-container *ngIf="!searchForm.valid">
    <small class="form-text text-danger">Invalid set name</small>
  </ng-container>
</div>
<ng-container *ngIf="!isMobile">
  <div class="button-container">
    <button class="btn btn-primary" (click)="filterColumns()">Filter</button>
  </div>
</ng-container>

<ng-container *ngIf="!isMobile && cards.length">
  <app-desktop-card-list [cards]="displayCards"></app-desktop-card-list>
</ng-container>

<ng-container *ngIf="isMobile && cards.length">
  <app-mobile-card-list [cards]="displayCards"></app-mobile-card-list>
</ng-container>
